<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
        <style>
            .main{
                /* background-color: yellow; */
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
           
            .main a{
                text-decoration: none;
                background-color: green;
                padding: 10px;
                border-radius: 6px;
                color: white;
                cursor: pointer;
            }
            .main a:hover{
                background-color: rgb(3, 107, 3);
            }
            .main a:active{
                transform: scale(.98);
            }
            table{
                /* width: 100%; */
                width: 1200px;
                /* background-color: beige; */
            }
            table thead {
                background-color: rgb(244, 225, 197);
                text-align: left;
                /* box-shadow: 0px 0px 3px rgb(190, 187, 187); */
            }
            table thead tr th{
                padding: 5px;
            }
          
            table tbody tr td{
                padding: 4px;
            }
            table tbody tr:nth-child(odd){
                background-color: rgb(250, 248, 246);
            }
            table tbody tr a{
                background-color: rgb(194, 250, 194);
                color: black;
                text-decoration: none;
                border-radius: 3px;
                padding: 4px;
                box-sizing: border-box;

            }
            table tbody tr a:hover{
                      background-color: rgb(169, 240, 169);
            }

            table tbody tr button{
                background-color: rgb(250, 20, 20);
                color: rgb(255, 255, 255);
                border-radius: 3px;
                padding: 5px;
                margin-left: 10px;
                border: 0;
                outline: none;
                cursor: pointer;
                font-weight: 700;
            }
            table  tbody tr button:hover{
                background-color: rgb(220, 11, 11);
            }
            @media screen and (min-width: 375px) and (max-width: 467px){
               
                table{
                    width: 300px;
                }
               
                table tbody tr{
                    font-size: .7em;
                }
                table thead tr th{
                    padding: 8px;
                }
                table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                }
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .8em;
                    padding: 2px;
                }
            }

             @media screen and (min-width: 468px) and (max-width: 600px){
                
                table{
                    width: 400px;
                }
               
                table tbody tr{
                    font-size: .9em;
                }
                table thead tr th{
                    padding: 8px;
                }
               
                table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 5px;
                }
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .8em;
                    margin: 0;
                    padding: 2px;
                }
            }
             @media screen and (min-width: 601px) and (max-width: 700px){
               
                table{
                    width: 500px;
                }
               
                table tbody tr{
                    font-size: 1em;
                }
                table thead tr th{
                    padding: 8px;
                }
                table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 5px;
                }
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .8em;
                    padding: 2px;
                    margin: 0;
                }
            }
             @media screen and (min-width: 701px) and (max-width: 850px){
               
                table{
                    width: 600px;
                }
               
                table tbody tr{
                    font-size: 1em;
                }
                table thead tr th{
                    padding: 8px;
                }
                table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 5px;
                }
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .8em;
                    padding: 2px;
                    margin: 0;
                }
            }

             @media screen and (min-width: 851px) and (max-width: 1000px){
               
                table{
                    width: 780px;
                }
               
                table tbody tr{
                    font-size: 1em;
                }
                table thead tr th{
                    padding: 8px;
                }
                table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 5px;
                }
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .8em;
                    padding: 2px;
                    margin: 0;
                }
            }
             @media screen and (min-width: 1001px) and (max-width: 1100px){
               
                table{
                    width: 910px;
                }
               
                table tbody tr{
                    font-size: 1em;
                }
                table thead tr th{
                    padding: 8px;
                }
                table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 5px;
                }
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .8em;
                    padding: 2px;
                    margin: 0;
                }
            }
             @media screen and (min-width: 1101px) and (max-width: 1201px){
               
                table{
                    width: 930px;
                }
               
                table tbody tr{
                    font-size: 1em;
                }
                table thead tr th{
                    padding: 8px;
                }
                table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 5px;
                }
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .8em;
                    padding: 2px;
                    margin: 0;
                }
            }
             @media screen and (min-width: 1202px){
               
                table{
                    width: 1000px;
                }
               
                table tbody tr{
                    font-size: 1em;
                }
                table thead tr th{
                    padding: 8px;
                }
                /* table tbody .both{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                } */
                table tbody tr a{
                    padding: 2px;
                }
                table tbody tr button{
                    font-size: .9em;
                    padding: 4px;
                }
            }

        </style>
<body>
    <%- include('partials/header') %>
        <div class="main">
            <h2>Users List</h2>
            <a href="/add" class="">
                Add User
            </a>
        </div>
        <table class="">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(users.length> 0) { %>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.age %>
                            </td>
                            <td class="both" >
                                <a href="/edit/<%= user.id %>" class="">
                                    Edit
                                </a>
                                <form action="/delete/<%= user.id %>?_method=DELETE" method="POST"
                                    style="display:inline-block">
                                    <button type="submit" class="">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="4" class="text-center">
                                        No Users Found
                                    </td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
        <%- include('partials/footer') %>
</body>

</html>